.TopBar {
  position: relative;
  background-color: #fafafa;
  box-shadow: 0px 0.33px 0px #a6a6aa;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.action-contain {
  display: flex;
  align-items: center;
  gap: 18px;
}
